body {
	padding: 0;
	margin: 0;
	text-align:center;
	font: 300 1.1em 'Roboto', sans-serif;
}

h2 {
	font-size: 1.2em;
	font-weight: 300;
	color: #B4AFAF;
}

a, a:visited {
	color: #B4AFAF;
}

a:hover {
	opacity: .9;
}

body > div {
	width: 100%;

}

#ad {
	width: 861px;
	height: 200px;
}

#header > *, #ad > *, #featres > * {
	margin: auto;
}

#header > p {
	margin-top: 10px;
}

#logo {
	width: 86px;
	heigh: 86px;
}

a.dl {
	text-decoration: none;
	color: white;
	background: #E76B6B;
	padding: 5px;
}

#main-screenshot {
	width: 861px;
	height: 471px;
	margin-top: 20px;
	background: no-repeat top left;
	transition: transform .7s ease;
	transform: translateY(100%);
}

.slide-screenshot {
	transform: translateY(0) !important;
}

#features {
	width: 861px;
	margin: auto;
	padding-top: 10px;
}

.feature {
	width: 287px;
	float: left;

}

.feature p {
	text-align: left;
	padding: 10px;
}

@media (max-width: 900px) {
	#main-screenshot {
		width: 600px;
		height: 328px;
		background-size: 600px;
	}

	#features, #ad {
		width: 600px;
	}

	.feature {
		width: 300px;
	}
}

@media (max-width: 660px) {
	#main-screenshot {
		width: 380px;
		height: 208px;
		background-size: 380px;
	}

	#features, #ad {
		width: 380px;
	}

	.feature {
		width: 380px;
	}
}