html {
	// min-height: 100%;
	position: relative;
}

body {
	background: var(--window-color);
	// display: flex;
	// flex-grow: 1;

	& * {
		cursor: inherit;
	}
}

.main-container {
	display: flex;
	flex-direction: row;
	// flex-grow: 1;
	animation: fade-in .3s ease;
	width: 100%;
	height: 100%;
  // position: absolute;
	// top: 0;
	// bottom: 0; //for footer
	// left: 0;
	// right: 0;
	// overflow: hidden;
}

body[platform=win32] .main-container {
	border: 1px solid #0078d7;
}

body[platform=win32][maximized=true] .main-container {
	border: 0;
}

body[platform=win32][inactive=true] .main-container {
	border: 1px solid var(--window-color);
}

@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 1}
}

.panel {
	position: relative;
	display: flex;
	flex-direction: column;
}

.left-panel {
	text-overflow: ellipsis !important;
	min-width: 130px;
	background: var(--left-panel-bg);
	color: var(--left-panel-color);
	// padding: 0 10px 0 10px;
	// flex-grow: 1;

	&.mini {
		padding: 0 5px 0 5px;
	}

	& div {
		display: flex;
	}
}

body[platform=win32] .left-panel {
	// border-right: var(--border-thick);
	-webkit-filter: invert(85%);
}

.central-panel {
	// max-width: 400px;
	// min-width: 190px;
	// flex: 1000 0 0;
	// width: 300px;
	// order: 1;
	// flex-grow: 1;
}

.right-panel {
	// min-width: 338px;
	// item:nth-child(2);
	// order: 2;
	flex-grow: 1;
}

.right-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

// body[platform=win32] .right-panel {
// 	min-width: 343px;
// }

.form-panel {
	flex-direction: column;
	background: var(--panel-color);
	padding: 15px;
	border-radius: var(--default-border-radius);
	border: var(--border-standard);
}

.dropzone {
	transition: .3s all;
}

.dropzone-active {
	opacity: 1;
	background: green;
	// -webkit-filter: invert(1);
	-webkit-filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
}

.spl {
	position: absolute;
	// background: red;
	// opacity: .4;
	opacity: 0;
}

.spl-h {
	top: 0;
	left: -3px;
	height: 100%;
	width: 6px;
	cursor: col-resize;
}

.spl-v {
	left: 0;
	top: -3px;
	width: 100%;
	height: 6px;
	cursor: row-resize;
}
