.list-group {
	flex-grow: 1;
	overflow-y: scroll;
	background: #fff;
	border-right: var(--border-thick);
}

.list-group-item {
	display: flex;
	padding-left: 0;
	height: 85px;

	&>div {
		flex-grow: 1;
	}

	& p {
		cursor: default;
	}
}

.list-item-header {
	display: flex;
	justify-content: space-between;
}

.list-item-indicator {
	width: 5px;
	min-width: 5px;
	margin-right: 10px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.light {
	color: var(--gray-color);
	// font-size: $font-size-default - 2;
	// font: small-caption;
	font-size: calc(var(--font-size-default) - 2px);
	opacity: .5;
	// z-index:
	cursor: default;
}

.active .light {
	color: var(--gray-color);
	-webkit-filter: brightness(1.2);
}

.ready .light {
	color: var(--trans-color);
}
