#trans-input {
	// width: 100%;
	// height: 100%;
	// resize: none;
	min-height: 50px;
	border: 0;
	flex-grow: 1;
}

#trans-input:focus {
	outline: none;
}

#trans-input-container {
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: column;
	// flex-grow: 1;
}
